{% extends 'base.html' %}
{% block nav %}
    <li class="active"><a href="#">主页</a></li>
    <li><a href="#">我的订单</a></li>
    <li><a href="#contact">Contact</a></li>
{% endblock %}
{% block right_bar %}
    {% if username %}
        <li><a href="#">{{ username }}</a></li>
        <li><a href="{{ url_for('main.logout') }}">登出</a></li>
    {% else %}
        <li><a href="{{ url_for('main.login') }}">登录</a></li>
        <li><a href="{{ url_for('main.register') }}">注册</a></li>
    {% endif %}
{% endblock %}

{% block content %}
<!--{#    {% if parkinglots %}#}-->
        <table class="table table-hover table-condensed">
            <thead>
            <tr>
                <th>停车场</th>
                <th>城市</th>
                <th>地址</th>
                <th>价格(/h)</th>
            </tr>
            </thead>
            <tbody>
<!--{#            {% for parkinglot in parkinglots %}#}-->
<!--{#                <tr>#}-->
<!--{#                    <th>{{ parkinglot.name }}</th>#}-->
<!--{#                    <th>{{ parkinglot.city }}</th>#}-->
<!--{#                    <th>{{ parkinglot.address }}</th>#}-->
<!--{#                    <th>{{ parkinglot.charge }}</th>#}-->
<!--{#                    <th>#}-->
<!--{#                        {% if user %}#}-->
<!--{#                            {% if user.over >= parkinglot.charge %}#}-->
<!--{#                                <form action="{% url 'order_lot' %}" method="post">#}-->
<!--{#                                    {% csrf_token %}#}-->
<!--{#                                    <input type="text" hidden="hidden" value="{{ parkinglot.id }}"#}-->
<!--{#                                           name="parkinglot_id"/>#}-->
<!--{#                                    <input type="text" hidden="hidden" value="{{ user.username }}" name="username"/>#}-->
<!--{#                                    {% if not parkinglot.is_full %}#}-->
<!--{#                                        <button class="btn btn-primary btn-xs" type="submit">预定</button>#}-->
<!--{#                                    {% else %}#}-->
<!--{#                                        <button type="button" class=" btn btn-warning btn-xs">已满</button>#}-->
<!--{#                                    {% endif %}#}-->
<!--{#                                </form>#}-->
<!--{#                            {% else %}#}-->
<!--{#                                <button type="button" class=" btn btn-danger btn-xs">请充值</button>#}-->
<!--{#                            {% endif %}#}-->
<!--{#                        {% else %}#}-->
<!--{#                            <a type="button" class=" btn btn-info btn-xs" href="{% url 'login' %}">请登录</a>#}-->
<!--{#                        {% endif %}#}-->
<!--{#                    </th>#}-->
<!--{#                </tr>#}-->
{#            {% endfor %}#}
            </tbody>
        </table>
<!--{#    {% endif %}#}-->
{% endblock %}