{% extends 'base.html' %}
{% block nav %}
    <li class="active"><a href="{{ url_for('main.index') }}">主页</a></li>
    <li><a href="#">我的</a></li>
    <li><a href="#contact">Contact</a></li>
{% endblock %}
{% block right_bar %}
    <li><a href="{{ url_for('main.login') }}">登录</a></li>
    <li><a href="{{ url_for('main.register') }}">注册</a></li>
{% endblock %}
{% block content %}

    <div class="container">

        <form class="form-signin" action="{{ url_for('main.login') }}" method="POST">
            <h2 class="form-signin-heading">请登录</h2>
            <label for="inputUsername" class="sr-only">用户名</label>
            <input type="text" id="inputUsername" class="form-control" placeholder="用户名" name="username" required
                   autofocus>
            <label for="inputPassword" class="sr-only">密码</label>
            <input type="password" id="inputPassword" class="form-control" placeholder="密码" name="password" required>

            <div class="checkbox">
                <label>
                    <input type="checkbox" value="remember-me" name="remember_me">记住我
                </label>
            </div>

            {% with messages=get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-danger" role="alert">{{ message }}</div>
            {% endfor %}
            {% endif %}
            {% endwith %}
            <button class="btn btn-lg btn-primary btn-block" type="submit">登录</button>
        </form>

    </div>
    <!-- /container -->
{% endblock %}
